<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831547800563-dn2286hb1rstqpo2f9o3ln8i5ams46bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831547800563-dn2286hb1rstqpo2f9o3ln8i5ams46bo</string>
	<key>API_KEY</key>
	<string>AIzaSyCyx8mP2a8sg9XTkSUoMpfrmtGtbL3OSa0</string>
	<key>GCM_SENDER_ID</key>
	<string>831547800563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Minjae.GOMS-iOS</string>
	<key>PROJECT_ID</key>
	<string>goms-7f0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>goms-7f0cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831547800563:ios:f8568fd9ac9c7d45d3f086</string>
</dict>
</plist>