<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708470626213-cb5t64546bmps5ddr766b2r2ufrrg8lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708470626213-cb5t64546bmps5ddr766b2r2ufrrg8lg</string>
	<key>API_KEY</key>
	<string>AIzaSyBrr1O26jrH2R_hhrxVzGY7wr57WW5HPac</string>
	<key>GCM_SENDER_ID</key>
	<string>708470626213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Minjae.GOMS-iOS</string>
	<key>PROJECT_ID</key>
	<string>goms-b87ec</string>
	<key>STORAGE_BUCKET</key>
	<string>goms-b87ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708470626213:ios:82abecc6a280b5a763ba4c</string>
</dict>
</plist>